<% if user_signed_in? %>
  <div style="padding: 2px; display: flex; justify-content: center;">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, autocomplete: "ここへ入力して検索！" %>
      <%= f.select :search, options_for_select([["と一致する","perfect_match"], ["から始まる","forward_match"],  ["で終わる","backward_match"], ["を含む","partial_match"]], "partial_match") %>
      <%= f.select :range, options_for_select( { 'ユーザー' => 'User', '投稿' => 'Book' }, 'Book') %>
      を
      <%= f.submit "検索", class: "submit-btn" %>
    <% end %>
  </div>
<% end %>